/* CircleTextPath component */

.read-more {
    height: 0;
    position: absolute;
    top: 550px;
    right: 200px;
    z-index: 1;
    .circle {
        font-size: 14px;
        animation: spin 20s linear infinite;
    }
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}