/* colors */
$red: #ff534a; // main color of the app
$white: #ffffff; // main color of the app
$lightGrey: #8d8d8d; // color for details
$darkGrey: #292929; // color of the font

#footer {
    width: 100vw;
    height: 100vh;
    background-color: $darkGrey;
    color: $white;
    text-align: left;
    display: flex;
    .get-in-touch {
        width: 70%;
        margin: auto;
        h2 {
            font-size: 80px;
            font-weight: 600;
        }
        h3 {
            position: relative;
            font-size: 52px;
            width: 25%;
        }
        h3:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background-color: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 100%;
        }
        h3:hover:before {
            width: 0%; 
        }
        .wrapper-contact {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 4rem;
            & > div {
                flex: 1;
            }
            .contact {
                line-height: 2;
                p {
                    margin-top: 3rem;
                    color: #8d8d8d;
                }
                a {
                    position: relative;
                    padding-bottom: .5rem;
                }
                span::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1px;
                    background-color: #8d8d8d;
                    transition: all 0.3s ease 0s, left 0.3s ease 0s;
                }
                span:hover::before {
                    background-color: $white;
                }
            }
        }
    }
}

@media (max-width: 1024px) { 
    #footer {
        .get-in-touch {
            h2 {
                text-align: center;
            }
            h3 {
                width: 40%;
                margin: auto;
            }
            .wrapper-contact {
                flex-direction: column;
                .social-media {
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media (max-width: 820px) { 
    #footer {
        .get-in-touch {
            h2 {
                font-size: 42px;
            }
            h3 {
                font-size: 42px;
                width: 60%;
            }
        }
    }
}
