/* colors */
$red: #ff534a; // main color of the app
$white: #ffffff; // main color of the app
$darkGrey: #292929; // color of the font

/* Transition */

.menu-enter {
    transform: translate(100%, 0);
}
.menu-enter-active, .menu-leave-active { 
    transition: 1s ease; 
}
.menu-leave-to {
    transform: translate(100%, 0);
}

#nav {
    cursor: none;
    .overlay {
        width: 100vw;
        height: 100vh;
        display: none;
        position: absolute;
        z-index: 1;
        background: rgba(238,238,238,.7);
    }
    .wrap {
        width: 100%;
        position: fixed;
        z-index: 3;
        height: 80px;
        display: flex;
        .navbar {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 33px;
            }
            .btn-burger {
                $size: 50px;
                $offsetY: 7px;
                width: $size;
                height: $size;
                position: relative;
                border: none;
                outline: 0;
                background-color: transparent;
                .bar {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $darkGrey;
                    transition: transform 1s ease;
                    &.bar--1 {
                        transform: translate3D(0, -$offsetY, 0);
                    }
                    &.bar--2 {
                        transform: translate3D(0, $offsetY, 0);
                    }
                }
                &:hover {
                    .bar--1 {
                        transform: translate3D(0, -$offsetY, 0) rotate(-180deg);
                    }
                    .bar--2 {
                        transform: translate3D(0, $offsetY, 0) rotate(-180deg);
                    }
                    &.active {
                        .bar--1 {
                            transform: translate3D(0, 0, 0) rotate(-495deg);
                        }
                        .bar--2 {
                            transform: translate3D(0,0, 0) rotate(-45deg);
                        }
                    }
                }
                &.active {
                    .bar {
                        transition: transform 600ms ease;
                    }
                    .bar--1 {
                        transform: translate3D(0, 0, 0) rotate(-675deg);
                    }
                    .bar--2 {
                        transform: translate3D(0,0, 0) rotate(-225deg);
                    }
                }
            }
        }
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100%;
        overflow: auto;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        text-align: left;
        .wrapper-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;
            ul {
                margin-top: 3rem;
            }
        }
        .social-media {
            text-align: left;
            ul > li {
                display: block;
                margin-bottom: 1rem;
            }
        }
        .menu {
            .social-media {
                font-size: 3em;
                font-weight: 600;
            }
        } 
    }   
}

@media (max-width: 640px) {
    #nav {
        nav {
            width: 100vw;
            text-align: center;
            .menu {
                .menu-item {
                    font-size: 5em;
                }
            }
        }
    }
}