/* colors */
/* Transition */
.menu-enter {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.menu-enter-active, .menu-leave-active {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.menu-leave-to {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

#nav {
  cursor: none;
}

#nav .overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  z-index: 1;
  background: rgba(238, 238, 238, 0.7);
}

#nav .wrap {
  width: 100%;
  position: fixed;
  z-index: 3;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav .wrap .navbar {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav .wrap .navbar img {
  width: 33px;
}

#nav .wrap .navbar .btn-burger {
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  outline: 0;
  background-color: transparent;
}

#nav .wrap .navbar .btn-burger .bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #292929;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

#nav .wrap .navbar .btn-burger .bar.bar--1 {
  -webkit-transform: translate3D(0, -7px, 0);
          transform: translate3D(0, -7px, 0);
}

#nav .wrap .navbar .btn-burger .bar.bar--2 {
  -webkit-transform: translate3D(0, 7px, 0);
          transform: translate3D(0, 7px, 0);
}

#nav .wrap .navbar .btn-burger:hover .bar--1 {
  -webkit-transform: translate3D(0, -7px, 0) rotate(-180deg);
          transform: translate3D(0, -7px, 0) rotate(-180deg);
}

#nav .wrap .navbar .btn-burger:hover .bar--2 {
  -webkit-transform: translate3D(0, 7px, 0) rotate(-180deg);
          transform: translate3D(0, 7px, 0) rotate(-180deg);
}

#nav .wrap .navbar .btn-burger:hover.active .bar--1 {
  -webkit-transform: translate3D(0, 0, 0) rotate(-495deg);
          transform: translate3D(0, 0, 0) rotate(-495deg);
}

#nav .wrap .navbar .btn-burger:hover.active .bar--2 {
  -webkit-transform: translate3D(0, 0, 0) rotate(-45deg);
          transform: translate3D(0, 0, 0) rotate(-45deg);
}

#nav .wrap .navbar .btn-burger.active .bar {
  -webkit-transition: -webkit-transform 600ms ease;
  transition: -webkit-transform 600ms ease;
  transition: transform 600ms ease;
  transition: transform 600ms ease, -webkit-transform 600ms ease;
}

#nav .wrap .navbar .btn-burger.active .bar--1 {
  -webkit-transform: translate3D(0, 0, 0) rotate(-675deg);
          transform: translate3D(0, 0, 0) rotate(-675deg);
}

#nav .wrap .navbar .btn-burger.active .bar--2 {
  -webkit-transform: translate3D(0, 0, 0) rotate(-225deg);
          transform: translate3D(0, 0, 0) rotate(-225deg);
}

#nav nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  overflow: auto;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  text-align: left;
}

#nav nav h1 {
  color: rgba(0, 0, 0, 0.3);
}

#nav nav .get-in-touch {
  width: 65%;
  margin-top: 4rem;
}

#nav nav .get-in-touch .mail-animation {
  margin-top: 3rem;
}

#nav nav .wrapper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

#nav nav .wrapper-menu ul {
  margin-top: 3rem;
}

#nav nav .wrapper-menu .social-media {
  display: block;
}

#nav nav .switch-animation ul > li {
  display: block;
  margin-bottom: 1rem;
}

#nav nav .menu .switch-animation {
  font-size: 3em;
  font-weight: 600;
}

@media (max-width: 1024px) {
  #nav nav {
    width: 70vw;
  }
  #nav nav .wrapper-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 640px) {
  #nav .wrap .navbar {
    width: 80%;
  }
  #nav nav {
    width: 100vw;
    text-align: left;
  }
  #nav nav .wrapper-menu .social-media {
    display: none;
  }
  #nav nav .wrapper-menu .menu .menu-item {
    font-size: 5em;
  }
}
/*# sourceMappingURL=navbar.css.map */