/* colors */
$red: #ff534a; // main color of the app
$white: #ffffff; // main color of the app
$darkGrey: #292929; // color of the font

/* Transition */

/* Navbar */
.menu-enter {
    opacity: 0;
}
.menu-enter-to { 
    opacity: 1;
}
    
.menu-enter-active, .menu-leave-active { 
    transition: 1s ease; 
}
    
.menu-leave-to {
    opacity: 0;
    // transform: translate3d(0, -400px, 0);
}

/* Text navbar */
// .test-enter {
//     opacity: 0;
//     transform: translate(400px, 0, 0);
// }
// .test-enter-to { 
//     opacity: 1;
//     transform: translate(0);
// } 
.test-enter-active, .test-leave-active { 
    transition: 5s ease;
}

#nav {
    .wrap {
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 80px;
        background-color: $white;
        display: flex;
        .navbar {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 33px;
            }
            .btn-burger {
                $size: 50px;
                $offsetY: 7px;
                width: $size;
                height: $size;
                position: relative;
                border: none;
                outline: 0;
                background-color: transparent;
                .bar {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $darkGrey;
                    transition: transform 1s ease;
                    &.bar--1 {
                        transform: translate3D(0, -$offsetY, 0);
                    }
                    &.bar--2 {
                        transform: translate3D(0, $offsetY, 0);
                    }
                }
                &:hover {
                    .bar--1 {
                        transform: translate3D(0, -$offsetY, 0) rotate(-180deg);
                    }
                    .bar--2 {
                        transform: translate3D(0, $offsetY, 0) rotate(-180deg);
                    }
                    &.active {
                        .bar--1 {
                            transform: translate3D(0, 0, 0) rotate(-495deg);
                        }
                        .bar--2 {
                            transform: translate3D(0,0, 0) rotate(-45deg);
                        }
                    }
                }
                &.active {
                    .bar {
                        transition: transform 600ms ease;
                    }
                    .bar--1 {
                        transform: translate3D(0, 0, 0) rotate(-675deg);
                    }
                    .bar--2 {
                        transform: translate3D(0,0, 0) rotate(-225deg);
                    }
                }
            }
        }
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        overflow: auto;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $red;
        .menu-item {
            font-size: 7em;
            font-weight: 600;
            color: $white;
            list-style: none;
            // text-transform: uppercase;
            text-align: center;
            transition: margin-left 0.5s ease-out, opacity 0.5s ease-out;
        }
          
        .selected {
            margin-left: -90px;
        }
        
        .menu-item > .arrow {
            opacity: 0;
            transition: opacity 0.7s ease-out;
        }
          
        .selected > .arrow {
            opacity: 1;
        }
        
        .dimmed {
            opacity: 0.3;
        }
        
        .char {
            display: inline-block;
            min-width: 0.3em;
        }
    }    
}