/* colors */
$red: #ff534a; // main color of the app
$white: #ffffff; // main color of the app
$darkGrey: #292929; // color of the font

#nav {
	display: flex;
	z-index: 10;
	height: 80px;
	background-color: $white;
	position: fixed;
	width: 100%;
    transition: 0.33s;
    .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: auto;
        position: relative;
        img {
            width: 33px;
        }
        #menu {
            display: flex;
            flex-direction: row;
            li {
                position: relative;
                user-select: none;
                margin-left: 20px;
                list-style: none;
                a {
                    font-weight: bold;
                    color: $darkGrey;
                    cursor: pointer;
                    transition: 0.15s;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
    #hamburger {
        display: none;
        position: absolute;
        left: 0;
        span {
            height: 2px;
            margin-bottom: 5px;
            background-color: $darkGrey;
            display: block;
            transition: 0.33s;
            &:nth-child(1) {width: 12px;}
            &:nth-child(2) {width: 24px;}
            &:nth-child(3) {width: 12px;}
        }
    }
}

.display_menu #nav #hamburger {
	span:nth-child(1) {
        transform: rotate(45deg) translate(2px, 1px); 
    }
	span:nth-child(2) {
        transform: rotate(-45deg) ;
    }
	span:nth-child(3) {
        transform: rotate(45deg) translate(6px, -9px);
    }
}

@media only screen and (max-width: 660px) {
    .g-cursor {
        display: none;
    }

	#nav {
        .wrap {
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
            padding: 0;
            #hamburger {
                display: block;
            }
            #menu {
                display: block;
                transform-origin: 50% 0;
                transition: 0.33s ease;
                flex-direction: column;
                li {
                    height: 0;
		            opacity: 0;
		            margin-left: 0;
                    transition: 0.25s ease;
                    a {
                        left: 0;
                        padding-left: 20px;
                        border: none;
                        height: 100%;
                        width: 100%;
                        display: block;
                        color: #fff!important;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
            #logo {
                position: absolute;
                right: 0;
            }
        }
    }

    .display_menu {
        #app {
            height: 100vh;
            #nav {
                .wrap {
                    height: 100vh;
                    width: 100vw;
                    background-color: $red;
                    margin: 0;
                    transition: 0.33s ease;
                    #hamburger {
                        position: absolute;
                        top: 30px;
                        left: 90px;
                    }
                    #menu {
                        display: flex;
                        justify-content: center;
                        position: static;
                        li {
                            height: 50px;
                            transition: 0.25s ease;
                            opacity: 1;
                            display: block;
                            margin-left: 0;
                            a {
                                padding-left: 0;
                            }
                        }
                    }
                    #logo {
                        margin-bottom: 3rem;
                        position: static;  
                    }
                }
            }
        }
    }
}