/* Playground component */

.playground {
    button {
        position: fixed;
        z-index: 1;
        right: 80px;
        bottom: 80px;
        border: none;
        outline: 0;
        background-color: transparent;
        transition: transform .5s ease;
        img {
            width: 40px;
        }
    }
    button:hover {
        transform: rotate(90deg);
    }
}

#canvas {
    position: relative;
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1 {
            font-size: 50px;
            font-weight: 600;
        }
        h2 {
            font-size: 32px;
        }
    }
}

@media (max-width: 1024px) {
    .playground {
        button {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translate(-50%, -50%);
        }
        button:hover {
            transform: translate(-50%, -50%);
        }
    }
}