/* Common style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

#app {
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #292929;
  overflow: hidden;
  width: 100vw;
  cursor: none;
  position: relative;
  /* fade transition page */
  /* navbar apparition */
}

#app .navbar-enter {
  opacity: 0;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
}

#app .navbar-enter-active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes test {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes test {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Config cursor animation */
.g-cursor_hide {
  width: 60px;
  height: 60px;
  -webkit-transition: width 0.6s ease, height 0.6s ease;
  transition: width 0.6s ease, height 0.6s ease;
}

.g-cursor__circle {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 50px;
  height: 50px;
  border: 2px solid #ff534a;
  border-radius: 100%;
  z-index: 11;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.g-cursor__point {
  top: 0;
  left: 0;
  position: fixed;
  width: 10px;
  height: 10px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 100%;
  background: #ff534a;
  z-index: 11;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}

.g-cursor_hover .g-cursor__circle {
  width: 60px;
  height: 60px;
  -webkit-transition: width .6s ease, height .6s ease, opacity .6s ease;
  transition: width .6s ease, height .6s ease, opacity .6s ease;
}

/* Navbar */
#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  height: 80px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  -webkit-transition: 0.33s;
  transition: 0.33s;
}

#nav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
  position: relative;
}

#nav .wrap img {
  width: 33px;
}

#nav .wrap #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#nav .wrap #menu li {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 20px;
  list-style: none;
}

#nav .wrap #menu li a {
  font-weight: bold;
  color: #292929;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

#nav .wrap #menu li a:hover {
  color: #ff534a;
}

#nav #hamburger {
  display: none;
  position: absolute;
  left: 0;
}

#nav #hamburger span {
  height: 2px;
  margin-bottom: 5px;
  background-color: #3E3A37;
  display: block;
  -webkit-transition: 0.33s;
  transition: 0.33s;
}

#nav #hamburger span:nth-child(1) {
  width: 12px;
}

#nav #hamburger span:nth-child(2) {
  width: 24px;
}

#nav #hamburger span:nth-child(3) {
  width: 12px;
}

.display_menu #nav #hamburger span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

.display_menu #nav #hamburger span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.display_menu #nav #hamburger span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(6px, -9px);
          transform: rotate(45deg) translate(6px, -9px);
}

@media only screen and (max-width: 660px) {
  .g-cursor {
    display: none;
  }
  #nav .wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  #nav .wrap #hamburger {
    display: block;
  }
  #nav .wrap #menu {
    display: block;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transition: 0.33s ease;
    transition: 0.33s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #nav .wrap #menu li {
    height: 0;
    opacity: 0;
    margin-left: 0;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
  }
  #nav .wrap #menu li a {
    left: 0;
    padding-left: 20px;
    border: none;
    height: 100%;
    width: 100%;
    display: block;
    color: #fff !important;
  }
  #nav .wrap #menu li a:hover {
    color: #ffffff;
  }
  #nav .wrap #logo {
    position: absolute;
    right: 0;
  }
  .display_menu #app {
    height: 100vh;
  }
  .display_menu #app #nav .wrap {
    height: 100vh;
    width: 100vw;
    background-color: #ff534a;
    margin: 0;
    -webkit-transition: 0.33s ease;
    transition: 0.33s ease;
  }
  .display_menu #app #nav .wrap #hamburger {
    position: absolute;
    top: 30px;
    left: 90px;
  }
  .display_menu #app #nav .wrap #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
  }
  .display_menu #app #nav .wrap #menu li {
    height: 50px;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    opacity: 1;
    display: block;
    margin-left: 0;
  }
  .display_menu #app #nav .wrap #menu li a {
    padding-left: 0;
  }
  .display_menu #app #nav .wrap #logo {
    margin-bottom: 3rem;
    position: static;
  }
}

/* Footer */
#footer {
  width: 100vw;
  height: 60px;
}

#footer .footer {
  width: 70%;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer .email {
  position: absolute;
  left: 0;
}

#footer .footer ul > li {
  display: inline-block;
  margin: 1rem;
}

#footer .footer a {
  color: #292929;
}

#footer .footer .back-to-top-wrapper {
  position: absolute;
  right: 0;
}

/* Hero component */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 35vh;
}

.hero h1 {
  font-size: 40px;
  font-weight: 800;
}

/* Slider component */
.projets {
  margin-top: 10%;
}

.projets span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.projets span > div {
  background-color: #e7e7e7;
  cursor: pointer;
}

.projets .card {
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  background-size: cover;
  height: 220px;
}

.projets .card .projet {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 600;
}

.projets .card .projet h2 {
  font-size: 24px;
  font-weight: 800;
}

.projets .card .active {
  opacity: 1;
}

.projets .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Projet component */
#projet {
  width: 70%;
  margin: auto;
}

#projet h1 {
  font-size: 40px;
  font-weight: 800;
}

#projet .presentation-projet {
  position: relative;
}

#projet .presentation-projet .content-back {
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32px' height='22px' viewBox='0 0 32 22' %3E %3Cpath d='M1.301 10.658L11.615.344 14.39 3.12 8.616 8.893H30.73v3.923H8.617l5.773 5.774-2.775 2.774L1.301 11.05a.28.28 0 0 1 0-.392z' stroke='%23000000' stroke-width='1px' fill='none'/%3E %3C/svg%3E") no-repeat 50% 50%;
  cursor: pointer;
  border: 0;
  width: 32px;
  height: 22px;
  position: absolute;
  top: -15vh;
  left: 0;
}

#projet .presentation-projet .content-back:focus, #projet .presentation-projet .content-back:hover {
  outline: none;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32px' height='22px' viewBox='0 0 32 22' %3E %3Cpath d='M1.301 10.658L11.615.344 14.39 3.12 8.616 8.893H30.73v3.923H8.617l5.773 5.774-2.775 2.774L1.301 11.05a.28.28 0 0 1 0-.392z' stroke='%23000000' stroke-width='1px' fill='%23000000'/%3E %3C/svg%3E") no-repeat 50% 50%;
}

#projet .presentation-projet h2 {
  font-size: 20px;
  font-weight: 600;
}

#projet .presentation-projet .resume-projet {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projet .presentation-projet .resume-projet .text-projet {
  width: 60%;
  margin-top: 2rem;
}

#projet .presentation-projet .resume-projet .text-projet p {
  margin-bottom: 1rem;
}

#projet .presentation-projet .resume-projet .text-projet span {
  font-weight: 600;
}

#projet .presentation-projet .resume-projet .img-projet {
  width: 40%;
}

#projet .presentation-projet .resume-projet .img-projet img {
  width: 100%;
}

/* Page home */
.home {
  width: 70%;
  margin: auto;
  position: relative;
}

.home .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50vh;
}

.home .introduction h1 {
  font-size: 40px;
  font-weight: 800;
}

.home .introduction h1 span {
  background-image: linear-gradient(transparent calc(65% - 5px), #ff534a 5px);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.home .introduction h1:hover span {
  background-size: 100%;
}

.home .letstalk {
  margin: 5rem auto 5rem auto;
}

.home .letstalk h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5rem;
}

.home .letstalk a {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ff534a;
  font-size: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-filter: blur(0);
          filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.home .letstalk a span {
  font-size: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  padding: 0 0.1em;
}

.home .letstalk a span:nth-child(0n) {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.home .letstalk a span:nth-child(0n):after {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.home .letstalk a span:nth-child(1n) {
  -webkit-transition-delay: 83.33333ms;
          transition-delay: 83.33333ms;
}

.home .letstalk a span:nth-child(1n):after {
  -webkit-transition-delay: 83.33333ms;
          transition-delay: 83.33333ms;
}

.home .letstalk a span:nth-child(2n) {
  -webkit-transition-delay: 166.66667ms;
          transition-delay: 166.66667ms;
}

.home .letstalk a span:nth-child(2n):after {
  -webkit-transition-delay: 166.66667ms;
          transition-delay: 166.66667ms;
}

.home .letstalk a span:nth-child(3n) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.home .letstalk a span:nth-child(3n):after {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.home .letstalk a span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: -1%;
  width: 102%;
  height: 2em;
  background: #ff534a;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scaley(0.1);
          transform: scaley(0.1);
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
}

.home .letstalk a:hover span {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

.home .letstalk a:hover span:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.home .letstalk a:active span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.home .letstalk a:active span:after {
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

@media only screen and (max-width: 1500px) {
  .g-cursor {
    display: none;
  }
  .home .projets {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .g-cursor {
    display: none;
  }
  .home .projets {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* Page about */
#about .about, #about .presentation {
  width: 70%;
  margin: auto;
}

#about .presentation {
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

#about img {
  width: 70%;
  margin: 2rem auto 2rem auto;
}

#about .experience-formation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 70%;
  margin: auto;
}

#about .experience-formation > div {
  width: 33.3%;
  margin-right: 2rem;
}

#about .experience-formation h2 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 2rem;
}

#about .experience-formation .card {
  margin: 2rem 0;
}

#about .experience-formation .card h3 {
  font-size: 18px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */