/* SwitchAnimation component */

.switch-animation {
    text-align: left;
    ul > li {
        display: inline-block;
        margin-right: 3rem;
        overflow: hidden;
    }
    li:last-child {
        margin-right: 0;
    }
    span {
        display: inline-block;
        position: relative;
        z-index: 1;
        color: transparent;
        transition: transform 1.2s cubic-bezier(.19,1,.22,1);
    }
    span::before {
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 0;
        transform: skewY(0);
        transform-origin: right bottom;
        transition: transform 2s cubic-bezier(.19,1,.22,1);
    }
    span::after {
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 105%;
        transform: skewY(7deg);
        transform-origin: left top;
        transition: transform 2s cubic-bezier(.19,1,.22,1);
    }
    span:hover::after, span:focus::after, span:hover::before, span:focus::before {
        transform: translate(0, -105%);
    }
}

.is-white {
    span::before, span::after {
        color: $white;
    }
}
.is-darkGrey {
    span::before, span::after {
        color: $darkGrey;
    }
}